body{
    background-color: white;
    font-family: Arial, sans-serif;
}

a:link, a:active, a:visited{
    color: #333;

}

a:hover{
    cursor: pointer;
}

.linha{
    width: 1000px;
    margin: auto;
    padding: 5px;
    background-color: gray;
    width: 100%;

    float: left;
}
.logo{
   padding-left: 300px
    
}

.paralelepipedo{
    background-color: antiquewhite;
   
    
   
    
   


    
    
}

